@import "tailwindcss";
* {
  @apply box-border m-0 p-0;
}
#logo {
  @apply ml-[50px];
}
.navbar {
  @apply flex justify-between bg-[linear-gradient(to_right,white,rgb(180,215,228))] items-center;
}
#nav_page {
  @apply w-full h-[100px] bg-[radial-gradient(white_30%,rgb(180,215,228))] relative;
}
.nav-links {
  @apply justify-between flex items-center w-[600px] ml-[630px] mr-[30px];
  list-style: none;
}
.nav-links li a {
  @apply no-underline text-[black] text-xl font-[bold] p-[5px];
  font-family: Arial, Helvetica, sans-serif;
}
.nav-links li :hover {
  @apply bg-[blue] text-[white] rounded-[10px];
  /* border: 1px solid black; */
}
#p1 {
  @apply relative text-3xl font-[bold] text-[rgb(138,138,188)] left-[33%] top-[80%];
  word-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
}
#h1_1 {
  @apply text-center relative text-[rgb(72,61,61)] top-[30px];
}
input:hover {
  @apply text-[black];
}
span a:hover {
  @apply text-[red];
}
span a {
  @apply no-underline;
}
button:hover {
  @apply text-[blue];
}
.container {
  @apply flex flex-wrap justify-evenly gap-10 h-auto py-[25px];
}
.container img {
  @apply h-[200px] w-[200px];
}
.divs {
  @apply w-[200px] h-auto shadow-[3px_3px_3px] bg-[rgb(180,215,228)] pb-[5px] rounded-md hover:shadow-[2px_2px_2px_white] hover:scale-110;
}
button {
  @apply bg-[gainsboro] w-[100px] h-[30px] text-[black] rounded-[10px];
}
.container-2 {
  @apply h-auto w-full flex flex-wrap gap-2.5 justify-evenly p-2.5;
  /* background-image: linear-gradient(to right, white, rgb(180, 215, 228)); */
}
.left-section,
.right-section {
  @apply w-[46%] text-center shadow-[4px_4px_4px] h-auto border h-auto bg-[linear-gradient(white,rgb(180,215,228))] p-5 rounded-[100px] border-solid border-[black];
}
.left-section,
.right-section ul p {
  @apply text-lg;
}
.divss {
  @apply w-[200px] h-auto shadow-[3px_3px_3px] bg-[rgb(180,215,228)] pb-[5px] rounded-md;
}
.checked {
  @apply text-[orange];
}
.container-3 {
  @apply flex flex-wrap justify-evenly gap-[30px] h-auto items-center p-[30px];
  /* background-image: linear-gradient(to right, white, rgb(180, 215, 228)); */
}
.foot {
  @apply w-full flex flex-wrap gap-[30px] justify-evenly bg-[linear-gradient(_white,rgb(180,215,228))] pb-[30px];
  /* background-color: gray; */
}
.foot-links {
  @apply w-4/5 flex justify-evenly list-none flex-wrap gap-[30px] p-2.5 bg-[rgb(180,215,228)] shadow-[2px_2px_2px] rounded-[20px];
}
.foot-links li a {
  @apply no-underline text-[22px] text-[Black] font-[bold];
}
a {
  @apply no-underline;
}
.main-1 {
  @apply flex flex-wrap justify-center items-center;
}
.login_form {
  @apply w-2/5 border flex flex-wrap h-3/6 justify-center items-center flex-col bg-[rgb(180,215,228)] shadow-[2px_2px_2px_2px] rounded-[30px] border-solid border-[black];
}
label {
  @apply text-lg;
}
input {
  @apply border border-solid border-[black];
}
.foot {
  @apply w-full flex flex-wrap gap-[30px] justify-evenly bg-[linear-gradient(white,rgb(180,215,228))] pb-[30px];
  /* background-color: rgb(189, 189, 189); */
}
.foot-links {
  @apply w-4/5 flex justify-evenly list-none flex-wrap gap-[30px] p-2.5 bg-[rgb(180,215,228)] shadow-[2px_2px_2px] rounded-[20px];
}
.foot-links li a {
  @apply no-underline text-[22px] text-[Black] font-[bold];
}
a {
  @apply no-underline;
}

.foot {
  @apply w-full flex flex-wrap gap-[30px] justify-evenly bg-[linear-gradient(white,rgb(180,215,228))] pb-[30px];
  /* background-color: gray; */
}
.foot-links {
  @apply w-4/5 flex justify-evenly list-none flex-wrap gap-[30px] p-2.5 bg-[rgb(180,215,228)] shadow-[2px_2px_2px] rounded-[20px];
}
.foot-links li a {
  @apply no-underline text-[22px] text-[Black] font-[bold];
}
a {
  @apply no-underline;
}
.main-1 {
  @apply flex flex-wrap justify-center items-center;
}
.signup_form {
  @apply w-2/5 border flex flex-wrap h-[600px] justify-center items-center flex-col bg-[rgb(180,215,228)] shadow-[2px_2px_2px_2px] p-[50px] rounded-[30px] border-solid border-[black];
}
label {
  @apply text-lg;
}
input {
  @apply border border-solid border-[black];
}
